* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0e031a;
    font-family: lato, sans-serif; 
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 100px auto 0;
    max-width: 800px;
    overflow: hidden;
}

main > * {
    grid-row: 1 / 2;
}

.login, .cadastro { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40% 0;
    color: #fff;
    font-size: 23px;
    background-color: rgb(255, 0, 64);
}

.login > button, .cadastro > button { 
    border: none;
    background-color: #fff;
    color: #0e031a;
}

.login {
    grid-column: 1 / 2;
}

.cadastro { 
    grid-column: 2 / 3;
}

.login-form {
    grid-column: 1 / 2;
    transform: translateX(-100%);
}

.cadastro-form { 
    grid-column: 2 / 3;
    transform: translateX(100%);
}

form {
    padding: 30px 20px;
    max-width: 500px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s;
}

form.active {
    transform: translateX(0);
}

.back-layer {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    clip-path: inset(0 50% 0 0);
    background-color: #fff;
    z-index: 5;
    transition: clip-path 0.3s;
}

input {
    display: block;
    height: 40px;
    width: 300px;
    border-radius: 15px;
    padding-left: 15px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    outline: none;
}

input:focus {
    border-color: rgb(255, 0, 64);
}

label {
    font-weight: 600;
}

button {
    background-color: transparent;
    border: 2px solid;
    border-radius: 15px;
    color: rgb(255, 0, 64);
    width: 160px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(255, 0, 64);
    color: #fff;
}
